
body {
    background: rgb(20, 54, 88);
    color: #ffffff;
    font-family: ariel, sans-serif;
    margin: 0;
    padding: 0;
}

/* Start of layout page */

/* Navigation bar */
#navigation {

    height: 80px;
    width: 100%;

}

#inner-nav {
    padding: 1em;
}

#logo {
    font-size: 2em;
    float: left;
    line-height: 30px;
}

#icon {
    font-size: 2em;
    float: right;
    margin-right: 10px;
    line-height: 40px;
    cursor: pointer;
    
}

#navOptions{
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    height: 100%;
    width: 0px;
    background: #554c4c;
}

#navOptions > ul {
    padding: 0;
}

#navOptions > ul > li  {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    padding: 15px 10px;
    font-size: 1em;
    border-bottom: 1px solid #a1a0a0;
    
}
#navOptions > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;    
}

#navOptions > ul > li:hover {
    font-weight: bold;      
}

#cross {
    font-size: 1.3em;
}


/* for users to contact the company */
#contact {
    font-size: 1.2em;
    color: #ffffff;
    display: grid;
    margin-top: 0; 
    bottom: 0;
    
    background: #353232;
    text-align: center;
    width: 100%;
    height: 80px;
}

.footerButton {
    border: none;
}

.footerButton  >  a{
    text-decoration: none;
    color: #ffffff;
    
}

#contactBtn {
    font-Size: 1em;
    background-color: rgb(22, 86, 170);
    text-decoration: none;
}

#scrollTop {
    float: right;
    font-size: 1em;
    margin-right: 30px;
    background-color: darkolivegreen;
    cursor: pointer;
}

/* Home page */

#wholeHome {
    display: none;
}

#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(800px, auto);
    
}

/* Image after navbar */
#mainImage {
    background: #07495e;
}


#homeText {
    text-align: center;
    line-height: 500px;
    font-size: 3em;
    color: #ffffff;
    transition: ease-in-out 2500ms;
}



#special {
    grid-column: 1/-1;
    background: #353232;
}

#special > h1 {
    text-align: center;
    font-size: 1.4em;
    line-height: 40px;
}

#afterImage {
    display: grid;

    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(450px, auto);
    background: #182a4b;
}

.homeHead {
    color: rgb(42, 192, 238);
    text-align: center;
}

.specialContent {
    background: #2472bb;
    padding: 20px;
    border: 1px solid #353232;
}

/* Paragraphs in the Home page & Images*/
.homePara {
    font-size: 1.4em;
    line-height: 1.7em;
}

#upperHome {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
}

#upper1 {
    margin-left: 5%; 
    background: url('.\\images\\consult.jpeg')
}

#upper2 {
    background: #EDDEA4 url('.\\images\\products.jpeg');
    background-repeat: no-repeat;
}

#upper3 {
    margin-right: 5%;
    background: #EDDEA4 url('.\\images\\learning.jpeg');
    background-repeat: no-repeat;
}

#lowerHome {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.lowerHead {
    margin-top: 9%;
}

#lower1 {
    margin-left: 5%;
    margin-bottom: 20px;
    background: rgb(88, 77, 32) url('.\\images\\internet.jpeg');
    background-repeat: no-repeat;
}

#lower2 {
    margin-right: 5%;
    margin-bottom: 20px;
    background: rgb(190, 174, 106) url('.\\images\\blockchain.jpeg');
    background-repeat: no-repeat;
}
