{% extends "layout.html"%}


{%block content%}
<div id="wholeHome">
    <div id="home">
        
        <!--Main image goes here-->
        <div id="mainImage">
            <h1 id="homeText">Welcome to InvoSystems</h1>
        </div>
        
        
        <div id="afterImage">
            
            <div id="upperHome" >
                
                <div id="special"><h1>Our business's craft</h1></div>
                <!--Upper sections-->
                <div id="upper1" class="specialContent">
                    <h1 class="homeHead">Consulting</h1>
                    <p class="homePara">
                        InvoSystems provides consulting, products, solutions, implementation and 
                        services related to Big Data, IoT, Analytics, eLearning, Blockchain, Digital
                        Transformation,  Information Search, Structured Knowledgebase,  eFAQ 
                        and eServices Delivery support
                    </p>
                </div>
                
                <div id="upper2" class="specialContent">
                    <h1 class="homeHead">Products</h1>
                    <p class="homePara">
                        Invosystems has built software products
                        & portals focussing on eTraining & Certification,
                        Structured Knowledgebase,  eServices Delivery support,
                        Information Search,  eLearning & eTraining authoring tool. and eSales Management 
                    </p>
                </div>
                
                <div id="upper3" class="specialContent">
                    <h1 class="homeHead">eLearning & eTraining</h1>
                    <p class="homePara">
                        Invosystems offers services to Design, build, deliver
                        eLearning & eTraining that encompass Instructional 
                        Design & Courseware development, Digitization of
                        engineering & technical documents, Build technical 
                        and non-technical knowledgebase
                    </p>
                </div>
            </div>
            
            <div id="lowerHome">
                
                <!--Lower sections-->
                <div id="lower1" class="specialContent">
                    <h1 class="homeHead lowerHead">Big Data, IoT & Analytics</h1>
                    <p class="homePara"> 
                        InvoSystems provides Big Data,
                        IoT implementation services 
                        like Use Cases based solutions,
                        Design and Implementation services.
                        InvoSystems undertakes services focussing on 
                        Hadoop, ETL, MDM, Data Migration, ETL, 
                        Analytics and Managed Services
                    </p>
                </div>
                
                <div id="lower2" class="specialContent">
                    <h1 class="homeHead lowerHead">Blockchain</h1>
                    <p class="homePara ">
                        InvoSystems with its extensive experience in development,
                        IoT, Cryptography, Big data, Cyber Security is embarking
                        on Design, solutioning, Use Cases, BaaS and POC for Blockchain based applications & Services
                    </p>
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
    {%endblock%}