{% extends "layout.html"%}


{%block content%}
<div id="home">

    <!--Main image goes here-->
    <div id="mainImage">
       <h1 id="homeText">Welcome to InvoSystems</h1>
    </div>

    
    <div id="afterImage">

        <div id="upperHome" >

            <div id="special"><h1>Our specilaities</h1></div>
            <!--Upper sections-->
            <div id="upper1" class="specialContent">
                <h1 class="homeHead">Consulting</h1>
            </div>

            <div id="upper2" class="specialContent">
                <h1 class="homeHead">Products</h1>
            </div>

            <div id="upper3" class="specialContent">
                <h1 class="homeHead">eLearning & eTraining</h1>
            </div>
        </div>

         <div id="lowerHome">

            <!--Lower sections-->
            <div id="lower1" class="specialContent">
                <h1 class="homeHead">Big Data, IoT & Analytics</h1>
            </div>

            <div id="lower2" class="specialContent">
                <h1 class="homeHead">Blockchain</h1>
            </div>

         </div>

    </div>

</div>
{%endblock%}