{% extends "layout.html"%}


{%block content%}
<div id="home">

    <!--Main image goes here-->
    <div id="mainImage">
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Eius odio magni totam perferendis sequi facere dolores ut, 
            exercitationem magnam atque quisquam. Corporis libero perspiciatis v
            oluptate, exercitationem eius eaque voluptates ad.
        </p>
    </div>
    
    <div id="afterImage">
        <p>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Eius odio magni totam perferendis sequi facere dolores ut, 
            exercitationem magnam atque quisquam. Corporis libero perspiciatis v
            oluptate, exercitationem eius eaque voluptates ad.
        </p>
    </div>

</div>
{%endblock%}